<div class="center">
	<div class="panel panel-default form">
		<div class="panel-heading">
				<h4 class="pannel-title">
					{{ 'ADMIN.LOGIN' | translate }}
				</h4>
		</div>
		<div class="panel-body">
				<form (ngSubmit)="onLogin()" id="task-form" #form="ngForm"> 
					<div class="form-group">
						<label for="action">{{ 'ADMIN.LOGIN' | translate }}:<span>*{{ 'REQUIRED' | translate }}</span></label>
						<input type="text"
								class="form-control"
								id="login" name="login"
								placeholder="{{'ADMIN.ENTER_LOGIN' | translate }}"
								required
								[(ngModel)]="userinfo.login">
					</div>
					<div class="form-group">
						<label for="priority">{{ 'ADMIN.PASSWORD' | translate }}:<span>*{{ 'REQUIRED' | translate }}</span></label>
						<input type="text"
								class="form-control"
								id="password" name="password"
								placeholder="{{'ADMIN.ENTER_PASSWORD' | translate }}"
								required
								[(ngModel)]="userinfo.password"> 
					</div>
					<div class="forgot">{{ 'ADMIN.FORGOT' | translate}}</div>
					<button
							type="submit"
							class="btn btn-primary"
							form="task-form"
							[disabled]="form.invalid" >{{ 'ADMIN.LOGIN' | translate }}
					</button>
				</form>
		</div>
	</div>
	</div>
	