<div class="container">
	<input class="form-control" type="text" name="searchText" [(ngModel)]="searchText"
	(keyup)="onSearchText($event)" placeholder="Text to search">
<!-- 	<button class="btn btn-success my-2 my-sm-0" type="button" (click)="onSearchText(searchText)"
		style="margin-left:5px;outline: none;" >Search</button> -->
<button class="btn btn-primary my-2 my-lg-0" style="align-self: flex-end" (click)="onCreateCourse()">+ Add course</button>

<div *ngIf="(courses$ | async)?.length; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
	
<p *ngIf="(coursesError$ | async) as value">{{value}}</p>

<div *ngFor="let item of (courses$ | async)" class="course" >
		<course [item]="item" (deleteCourse)="onDeleteCourse($event)" 
			(editCourse)="onEditCourse(item)"
			appBorder [ngClass]="{'stared': item.topRated}">
		</course>
	</div>
	<button class="btn btn-secondary" type="button" (click)="onShowMore()">Show more</button>
</ng-template>
<ng-template #elseBlock>
	<h4>No data. Feel free to add new course</h4>
</ng-template>

</div>